{
    "name": "test-policy-w-config",
    "version": { policyVersion },
    "dependencies": {
        "@pulumi/policy": "0.4.1-dev.1584625475"
    },
    "devDependencies": {
        "@types/node": "^10.12.7"
    }
}
