{
    "name": "test-policy-w-config",
    "version": { policyVersion },
    "dependencies": {
        "@pulumi/policy": "^1.0.0"
    },
    "devDependencies": {
        "@types/node": "^10.12.7"
    }
}
