package {{.Package}}

import (
	"github.com/pulumi/pulumi/sdk/v2/go/common/resource"
	"github.com/pulumi/pulumi/sdk/v2/go/common/resource/plugin"

	{{range .ProviderImports}}
	{{.Name}} "{{.Path}}"
	{{end}}
)

func (p *provider) CheckConfig(urn resource.URN, olds, news resource.PropertyMap, allowUnknowns bool) (resource.PropertyMap, []plugin.CheckFailure, error) {
	schema := reflect.TypeOf((*{{.ProviderArgsType}})(nil)).Elem()
	return runtime.Check(news, schema)
}

func (p *provider) DiffConfig(urn resource.URN, olds, news resource.PropertyMap, allowUnknowns bool, ignoreChanges []string) (plugin.DiffResult, error) {
	var currentArgs {{.ProviderArgsType}}
	if err := runtime.Unmarshal(olds, &currentArgs); err != nil {
		return plugin.DiffResult{}, err
	}

	var newArgs {{.ProviderArgsType}}
	if err := runtime.Unmarshal(news, &newArgs); err != nil {
		return plugin.DiffResult{}, err
	}

	return runtime.Diff(&currentArgs, &newArgs, ignoreChanges)
}

func (p *provider) Configure(inputs resource.PropertyMap) error {
	var args {{.ProviderArgsType}}
	if err := runtime.Unmarshal(inputs, &args); err != nil {
		return plugin.DiffResult{}, err
	}
	return p.provider.Configure(&args, nil)
}
