* @pulumi/iac-core
/changelog/pending/ # We don't need a code-owner for changelog changes
/pkg/cmd/pulumi/neo/ @pulumi/ai-platform
/pkg/cloudsetup/ @pulumi/pulumi-platform
/pkg/cmd/esc/ @pulumi/pulumi-platform
/sdk/go/common/esc/ @pulumi/pulumi-platform
