<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pulumi developer documentation</title>
    <link rel="canonical" href="docs/README.html"/>
    <meta name="robots" content="noindex">
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url=docs/README.html" />
  </head>
</html>
