version: 1.0.{build}
image: Visual Studio 2017
configuration: Release
platform: x64
clone_folder: '%USERPROFILE%\go\src\github.com\pulumi\pulumi'
branches:
    only:
        - master
        - /release\/.*/
init:
- ps: Install-Product node 8.10 x64
environment:
  PULUMI_API: https://api.pulumi-staging.io
  PULUMI_ACCESS_TOKEN:
    secure: +c7s1GgUunQl8QlLZs7zafFv6lJbZp40fx1kJl7v+n0qa8oq3ssBlVEl9gfoMBgH
  AWS_ACCESS_KEY_ID:
    secure: eB7Gfl1GHhz60tH2EEASI7IFsWHDd5SV+kponXwaCSo=
  AWS_SECRET_ACCESS_KEY:
    secure: T19RJk7Uv3trAChRRDB82OAUDI8k2q9PaSetU7yDFu4aC+MshdwAhTTN/TaPkwl/
install:
- cmd: >-
    set GOPATH=%USERPROFILE%\go

    set GOROOT=C:\go111

    set PATH=C:\go111\bin;%PATH%;%GOPATH%\bin

    set PulumiRoot=C:\Pulumi

    set PATH=%PulumiRoot%\bin;%PATH%

    go version

    git clone https://github.com/pulumi/scripts.git "%USERPROFILE%\go\src\github.com\pulumi\scripts"
- ps: >-
    New-Item -Type Directory "$env:USERPROFILE\go\bin"

    Invoke-WebRequest -Uri https://github.com/golang/dep/releases/download/v0.4.1/dep-windows-amd64.exe -OutFile "$env:USERPROFILE\go\bin\dep.exe"
build_script:
- cmd: >-
    if defined APPVEYOR_PULL_REQUEST_NUMBER ( msbuild /t:AppVeyorPullRequest /v:Detailed build.proj ) else ( msbuild /t:AppVeyorPush /v:Detailed build.proj )
test: off
