build --spawn_strategy=local
test --test_env=PULUMI_DISABLE_AUTOMATIC_PLUGIN_ACQUISITION=true --test_env=GOCACHE=/tmp/.cache --test_env=GOMODCACHE=/tmp/.cache --test_env=GOPATH=/tmp/gopath --test_env=HOME=/home/tgummerer --test_env=XDG_CONFIG_HOME=$XDG_CONFIG_HOME --test_env=GITHUB_TOKEN=$GITHUB_TOKEN --test_output=errors --test_timeout=300 --local_resources=cpu=10
