*.swp
**/vendor/
**/node_modules/
**/bin
**/.vscode/
**/.vs/
**/.ionide/
**/.idea/
**/.DS_Store
coverage.cov
*.coverprofile
**/obj/

**/.idea/
*.iml

# VSCode creates this binary when running tests in the debugger
**/debug.test

# Go tests run "in tree" and this folder will linger if they fail (the integration test framework cleans
# it up when they pass.)
**/command-output/

# By default, we don't check in yarn.lock files
**/yarn.lock

# By default, we don't check in Pipfile.lock files
**/Pipfile.lock

# Turning on MyPy in VSCode creates this workspace local folder
.mypy_cache

# for goreleaser
**/*.exe
goreleaser
pulumi-resource-pulumi-nodejs
pulumi-resource-pulumi-python
pulumi-analyzer-policy
pulumi-analyzer-policy-python
pulumi-language-python-exec
pulumi-resource-pulumi-nodejs.cmd
pulumi-resource-pulumi-python.cmd
pulumi-python3-shim.cmd
pulumi-python-shim.cmd
pulumi-analyzer-policy.cmd
pulumi-analyzer-policy-python.cmd
