*.swp
/vendor/
**/.vscode/
coverage.cov
*.coverprofile
**/dist

/.idea/
*.iml

# Go tests run "in tree" and this folder will linger if they fail (the integration test framework cleans
# it up when they pass.)
**/command-output/
