# It may be tempting to add parens around each individual clause in this expression, but Travis then builds pushes anyway
if: branch = master OR branch =~ ^features/ OR branch =~ ^release/ OR tag IS present
matrix:
  include:
    - os: linux
      env: NODE_VERSION=v8.11.1 TRAVIS_PUBLISH_PACKAGES=true
    - os: linux
      env:
       - NODE_VERSION=v10.7
       - NODE_OPTIONS=--no-deprecation
    - os: osx
      env: NODE_VERSION=v6.10.3
language: go
go: 1.9
sudo: true # give us 7.5GB and >2 bursted cores.
git:
  depth: false
before_install:
    - source ./build/travis/prepare-environment.sh
    - if [ "${TRAVIS_SECURE_ENV_VARS:-}" = "true" ]; then source "${PULUMI_SCRIPTS}/ci/keep-failed-tests.sh"; fi
install:
    - source ./build/travis/install-common-toolchain.sh
before_script:
    - ./build/travis/ensure-dependencies
script:
    - make travis_${TRAVIS_EVENT_TYPE}
after_failure:
    - if [ "${TRAVIS_SECURE_ENV_VARS:-}" = "true" ]; then "${PULUMI_SCRIPTS}/ci/upload-failed-tests"; fi
notifications:
    webhooks: https://ufci1w66n3.execute-api.us-west-2.amazonaws.com/stage/travis
