# It may be tempting to add parens around each individual clause in this expression, but Travis then builds pushes anyway
if: branch = master OR branch =~ ^release/ OR tag IS present
jobs:
  include:
    - os: linux
    - os: osx
language: go
go: 1.9
sudo: true # give us 7.5GB and >2 bursted cores.
env:
    - PULUMI_API=https://api.pulumi-staging.io
git:
  depth: false
before_install:
    - source ./build/travis/prepare-environment.sh
    - . "${PULUMI_HOME}/scripts/keep-failed-tests.sh"
install:
    - source ./build/travis/install-common-toolchain.sh
before_script:
    - ./build/travis/ensure-dependencies

    # --packet-buffered causes a crash on OSX 10.12.
    - sudo tcpdump "port 53" --immediate-mode -w ~/dns.cap &
script:
    - make travis_${TRAVIS_EVENT_TYPE}
after_script:
    - tcpdump -r ~/dns.cap -vv | grep -B1 api.pulumi-staging.io | tail -100
after_failure:
    - "${PULUMI_HOME}/scripts/upload-failed-tests"
notifications:
    webhooks: https://ufci1w66n3.execute-api.us-west-2.amazonaws.com/stage/travis
