jobs:
    include:
        -
            os: linux
        -
            if: type IN (push, api, cron)
            os: osx
language: go
go: 1.9
sudo: true # give us 7.5GB and >2 bursted cores.
before_install:
    # Travis only fetches 50 commits by default, and we want them all so we can do git describe --tags
    - git fetch --unshallow
    # Dep for Go dependency management.
    - go get -v github.com/golang/dep/cmd/dep
    # Gometalinter for good Go linting/hygiene.
    - go get -v github.com/alecthomas/gometalinter
    - gometalinter --install
    # gocovmerge for Go code coverage.
    - go get -v github.com/wadey/gocovmerge
    # Node.js 6.10.2 for all JavaScript code (to match AWS Lambda).
    - nvm install v6.10.2
    # Install Yarn as per https://yarnpkg.com/lang/en/docs/install-ci/#travis-tab.
    - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.2.1
    - export PATH=$HOME/.yarn/bin:$PATH
    # Install the AWS CLI so that we can publish the resulting release (if applicable) at the end.
    - pip install --upgrade --user awscli
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then export PATH=$PATH:$HOME/Library/Python/2.7/bin; fi
cache:
    yarn: true
install:
    # Clone the Pulumi-wide repo so we can use its scripts.
    - git clone git@github.com:pulumi/home ${GOPATH}/src/github.com/pulumi/home
    - dep ensure -v
before_script:
    - export PATH=$TRAVIS_BUILD_DIR/sdk/nodejs/bin:$PATH
script:
    - make travis_${TRAVIS_EVENT_TYPE}
notifications:
    webhooks: https://ufci1w66n3.execute-api.us-west-2.amazonaws.com/stage/travis

