# Integration tests run Yarn, and Yarn may fail if invoked concurrently.
# https://github.com/yarnpkg/yarn/issues/683
--mutex network
# We hit errors in Travis that look like what is outlined in
# https://github.com/yarnpkg/yarn/issues/4563
--network-concurrency 1
