black>=1.0.0
coverage>=6.0.2
dill~=0.3
grpcio~=1.60.1
mypy==0.991
myst-parser==0.15.1
protobuf~=4.21
pylint==3.0.3
pytest-asyncio
pytest-timeout
pytest~=7.4.4
pyyaml~=6.0
semver~=2.13
setuptools
six~=1.12
sphinx-tabs==3.1.0
sphinx==4.0.2
sphinx_rtd_theme==0.5.2
types-protobuf
types-pyyaml
types-six
wheel
