{{ define "param_separator" }}<span class="p">, </span>{{ end }}

{{ define "go_constructor_param" }}<span class="nx">{{ .Name }}</span> {{ .OptionalFlag }}{{ template "linkify_param" .Type }}{{ end }}

{{ define "ts_constructor_param" }}<span class="nx">{{ .Name }}</span>{{ .OptionalFlag }}: {{ template "linkify_param" .Type }}{{ end }}

{{ define "csharp_constructor_param" }}{{ template "linkify_param" .Type }}{{ .OptionalFlag }} <span class="nx">{{ .Name }}{{ .DefaultValue }}{{ end }}

{{ define "py_constructor_param" }}{{ .Name }}{{ .DefaultValue }}{{ end }}

{{ define "py_function_param" }}{{ htmlSafe .Name }}{{ .DefaultValue }}{{ end }}
