{{ define "param_separator" }}<span class="p">,</span> {{ end }}

{{ define "py_param_separator" }}<span class="p">,</span>
{{ .Indent }}{{ end }}

{{ define "go_formal_param" }}<span class="nx">{{ .Name }}</span><span class="p"> {{ .OptionalFlag }}</span>{{ template "linkify_param" .Type }}{{ end }}

{{ define "ts_formal_param" }}<span class="nx">{{ .Name }}</span><span class="p">{{ .OptionalFlag }}:</span> {{ template "linkify_param" .Type }}{{ end }}

{{ define "csharp_formal_param" }}{{ template "linkify_param" .Type }}<span class="p">{{ .OptionalFlag }} </span><span class="nx">{{ .Name }}{{ .DefaultValue }}{{ end }}

{{ define "py_formal_param" }}<span class="nx">{{ .Name }}</span><span class="p">:</span> {{ template "linkify_param" .Type }}{{ .DefaultValue }}{{ end }}
