{{ define "constructor_args" }}
<dl class="resources-properties">
  {{ range $params := . }}
    <dt class="property-xxx" title="xxx">
        <span>{{- htmlSafe .Name -}}</span>
        <span class="property-indicator"></span>
        <span class="property-type">{{- if eq .Type.Link "#" "" -}}{{- htmlSafe .Type.Name -}}{{- else -}}{{ template "linkify" .Type }}{{- end -}}</span>
    </dt>
    <dd>
      {{ .Comment }}
    </dd>
  {{ end }}

</dl>
{{ end }}
