{{ define "enums" }}

{{- range $lang, $enums := . }}

<div>
<pulumi-choosable type="language" values="{{- if eq $lang "nodejs" -}}{{ print "javascript,typescript" }}{{- else -}}{{ print $lang }}{{- end -}}">
<dl class="tabular">
{{- range . -}}
    <dt {{- if .DeprecationMessage }} class="property-deprecated"{{- end -}}>{{- htmlSafe .DisplayName -}}</dt>
    <dd>{{- htmlSafe .Value }}{{- if .Comment }}{{- markdownify .Comment -}}{{ end -}}{{- if .DeprecationMessage }}<p class="property-message">Deprecated: {{ markdownify .DeprecationMessage -}}</p>{{- end -}}</dd>
{{- end -}}
</dl>
</pulumi-choosable>
</div>

{{- end }}

{{- end }}
