{{ define "enums" }}

{{- range $lang, $enums := . }}

{{ print "{{% choosable language" }} {{ print $lang }} {{ print "%}}" }}
<dl class="tabular">
{{- range . -}}
    <dt>{{- htmlSafe .DisplayName -}}</dt>
    <dd>{{- htmlSafe .Value }}{{- if .Comment }}{{ print "{{% md %}}" -}}{{- htmlSafe .Comment -}}{{- print "{{% /md %}}" }}{{ end -}}{{- if .DeprecationMessage }}<p class="property-message">Deprecated: {{ print "{{% md %}}" -}}{{- htmlSafe .DeprecationMessage -}}{{- print "{{% /md %}}" -}}</p>{{- end -}}</dd>
{{- end -}}
</dl>
{{ print "{{% /choosable %}}" }}

{{- end }}

{{- end }}
