{{ define "examples" -}}
{{ print "{{% examples %}}" }}

## Example Usage

{{ htmlSafe "{{< chooser language \"typescript,python,go,csharp\" / >}}" }}

{{ range . }}
{{ .Title }}

{{ range $key, $val := .Snippets }}
{{ htmlSafe "{{< example " }}{{ $key }}{{ htmlSafe " >}}" }}

{{ htmlSafe $val }}

{{ htmlSafe "{{< /example >}}" }}

{{ end }}

{{ end }}

{{ print "{{% /examples %}}" }}

{{ end }}
