{{ define "examples" -}}
{{ htmlSafe "<div><pulumi-examples>" }}

## Example Usage

{{ htmlSafe "<div><pulumi-chooser type=\"language\" options=\"" }}{{ .LangChooserLanguages }}{{ htmlSafe "\"></pulumi-chooser></div>" }}

{{ range .Examples }}
{{ .Title }}

{{ range $key, $val := .Snippets }}
{{ htmlSafe "<div>" }}
{{ htmlSafe "<pulumi-choosable type=\"language\" values=\"" }}{{ $key }}{{ htmlSafe "\">" }}

{{ htmlSafe $val }}

{{ htmlSafe "</pulumi-choosable>" }}
{{ htmlSafe "</div>" }}

{{ end }}

{{ end }}

{{ htmlSafe "</pulumi-examples></div>" }}

{{ end }}
