{{ template "header" .Header }}

{{ htmlSafe .Comment }}

{{ .DeprecationMessage }}

<!-- Input properties -->
## Using {{ .Header.Title }} {#using}

{{ htmlSafe "{{< chooser language \"javascript,typescript,python,go,csharp\" / >}}" }}

<!-- TS/JS -->
{{ print "{{% choosable language typescript %}}" }}
<div class="highlight"><pre class="chroma"><code class="language-typescript" data-lang="typescript"><span class="k">function </span>get{{ .ResourceName }}<span class="p">(</span>{{ htmlSafe .FunctionArgs.nodejs }}<span class="p">): Promise<{{ template "linkify_param" .FunctionResult.nodejs }}></span></code></pre></div>
{{ print "{{% /choosable %}}" }}

<!-- Python -->
{{ print "{{% choosable language python %}}" }}
<div class="highlight"><pre class="chroma"><code class="language-python" data-lang="python"><span class="k">function </span> get_{{ pyName .ResourceName }}(</span>{{ htmlSafe .FunctionArgs.python }}<span class="p">)</span></code></pre></div>
{{ print "{{% /choosable %}}" }}

<!-- Go -->
{{ print "{{% choosable language go %}}" }}
<div class="highlight"><pre class="chroma"><code class="language-go" data-lang="go"><span class="k">func </span>Lookup{{ .ResourceName }}<span class="p">(</span>{{ htmlSafe .FunctionArgs.go }}<span class="p">) (*{{ template "linkify_param" .FunctionResult.go }}, error)</span></code></pre></div>
{{ print "{{% /choosable %}}" }}

<!-- C# -->
{{ print "{{% choosable language csharp %}}" }}
<div class="highlight"><pre class="chroma"><code class="language-csharp" data-lang="csharp"><span class="k">public static class </span><span class="nx">Get{{ .ResourceName }} </span><span class="p">{</span><span class="k">
    public static </span>Task<{{ template "linkify_param" .FunctionResult.csharp }}> <span class="p">InvokeAsync(</span>{{ htmlSafe .FunctionArgs.csharp }}<span class="p">)</span><span class="p">
}</span></code></pre></div>
{{ print "{{% /choosable %}}" }}

{{ if ne (len .InputProperties) 0 }}

The following arguments are supported:
{{ template "properties" .InputProperties }}

{{ end }}

<!-- Output properties -->
## {{.Header.Title}} Result {#result}

The following output properties are available:

{{ template "properties" .OutputProperties }}

<!-- Supporting types -->
{{ if ne (len .NestedTypes) 0 }}

## Supporting Types

{{ range .NestedTypes }}
<h4 id="{{ .AnchorID }}">{{ htmlSafe .Name }}</h4>
{{ htmlSafe "{{% choosable language nodejs %}}" }}
> See the {{ if ne .APIDocLinks.nodejs.InputType "" }}<a href="{{ .APIDocLinks.nodejs.InputType }}">input</a>{{ end }} {{ if and (ne .APIDocLinks.nodejs.InputType "") (ne .APIDocLinks.nodejs.OutputType "") }}and{{ end }} {{ if ne .APIDocLinks.nodejs.OutputType "" }}<a href="{{ .APIDocLinks.nodejs.OutputType }}">output</a>{{ end }} API doc for this type.
{{ htmlSafe "{{% /choosable %}}" }}

{{ htmlSafe "{{% choosable language go %}}" }}
> See the {{ if ne .APIDocLinks.go.InputType "" }}<a href="{{ .APIDocLinks.go.InputType }}">input</a>{{ end }} {{ if and (ne .APIDocLinks.go.InputType "") (ne .APIDocLinks.go.OutputType "") }}and{{ end }} {{ if ne .APIDocLinks.go.OutputType "" }}<a href="{{ .APIDocLinks.go.OutputType }}">output</a>{{ end }} API doc for this type.
{{ htmlSafe "{{% /choosable %}}" }}

{{ template "properties" .Properties }}
{{ end }}

{{ end }}
