{{ define "header" }}
---
title: "{{ .Title }}"
title_tag: "{{ .TitleTag }}"
meta_desc: "{{ .MetaDesc }}"
aliases:
    - "/docs/reference/pkg/{{ .PackageName }}/{{ .ResourceName }}/"
layout: api-doc-resource
---

{{ end }}
