{{- define "index_modules" }}
<h2 id="modules">Modules</h2>
<ul class="api">
{{- range . }}
    <li><a href="{{ .Link }}" title="{{ .DisplayName }}"><span class="symbol module"></span>{{ .DisplayName }}</a></li>
{{- end }}
</ul>
{{- end }}

{{- define "index_resources" }}
<h2 id="resources">Resources</h2>
<ul class="api">
{{- range . }}
    <li><a href="{{ .Link }}" title="{{ .DisplayName }}"><span class="symbol resource"></span>{{ .DisplayName }}</a></li>
{{- end }}
</ul>
{{- end }}

{{- define "index_functions" }}
<h2 id="functions">Functions</h2>
<ul class="api">
{{- range . }}
    <li><a href="{{ .Link }}" title="{{ .DisplayName }}"><span class="symbol function"></span>{{ .DisplayName }}</a></li>
{{- end }}
</ul>
{{- end }}