{{- define "index_modules" }}
<h3>Modules</h3>
<ul class="api">
{{- range . }}
    <li><a href="{{ .Link }}" title="{{ .DisplayName }}"><span class="symbol module"></span>{{ .DisplayName }}</a></li>
{{- end }}
</ul>
{{- end }}

{{- define "index_resources" }}
<h3>Resources</h3>
<ul class="api">
{{- range . }}
    <li><a href="{{ .Link }}" title="{{ .DisplayName }}"><span class="symbol resource"></span>{{ .DisplayName }}</a></li>
{{- end }}
</ul>
{{- end }}

{{- define "index_functions" }}
<h3>Functions</h3>
<ul class="api">
{{- range . }}
    <li><a href="{{ .Link }}" title="{{ .DisplayName }}"><span class="symbol function"></span>{{ .DisplayName }}</a></li>
{{- end }}
</ul>
{{- end }}