{{ define "package_details" }}
<h2 id="package-details">Package Details</h2>
<dl class="package-details">
	<dt>Repository</dt>
	<dd><a href="{{ htmlSafe .Repository }}">{{ htmlSafe .Repository }}</a></dd>
	<dt>License</dt>
	<dd>{{ htmlSafe .License }}</dd>
    {{- if ne .Notes "" }}
	<dt>Notes</dt>
	<dd>{{ print "{{% md %}}" -}}{{ htmlSafe .Notes }}{{- print "{{% /md %}}" -}}</dd>
	{{- end }}
	{{- if ne .Version "" }}
	<dt>Version</dt>
	<dd>{{ htmlSafe .Version }}</dd>
	{{- end }}
</dl>
{{ end }}
