{{ define "properties" }}

{{ range $lang, $props := . }}
{{ print "{{% choosable language" }} {{ print $lang }} {{ print "%}}" }}
<dl class="resources-properties">
{{ range . }}
    <dt class="property-{{- if .IsInput -}}{{- if .IsRequired -}}required{{- else -}}optional{{- end -}}{{- end -}}{{ if .DeprecationMessage }} property-deprecated{{- end -}}"
            title="{{ if .IsInput -}}{{- if .IsRequired -}}Required{{- else -}}Optional{{- end -}}{{- end -}}{{- if .DeprecationMessage -}}, Deprecated{{- end -}}">
        <span>{{- htmlSafe .DisplayName -}}</span>
        <span class="property-indicator"></span>
        <span class="property-type">{{- if eq .Type.Link "#" "" -}}{{- htmlSafe .Type.DisplayName -}}{{- else -}}{{ template "linkify" .Type }}{{- end -}}</span>
    </dt>
    <dd>
        {{- print "{{% md %}}" -}}{{- htmlSafe .Comment -}}{{- print "{{% /md %}}" -}}
        {{- if .DeprecationMessage -}}<p class="property-message">Deprecated: {{ print "{{% md %}}" -}}{{- .DeprecationMessage -}}{{- print "{{% /md %}}" -}}</p>{{- end -}}
    </dd>
{{ end }}
</dl>
{{ print "{{% /choosable %}}" }}

{{ end }}

{{ end }}
