{{define "propIsRequired"}}
{{if .}} (Required) {{- else}} (Optional){{- end}}
{{end}}

{{define "properties_table"}}
<table class="ml-6">
    <thead>
        <tr>
            <th>Argument</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
    {{range .}}
        <tr>
            <td class="align-top">{{htmlSafe .Name}}</td>
            <td class="align-top">
                <code>{{htmlSafe .Type}}</code>
            </td>
            <td class="align-top">{{htmlSafe "{{% md %}}"}} {{if .IsInput}}{{template "propIsRequired" .IsRequired}}{{- end}} {{- .Comment}} {{htmlSafe "{{% /md %}}"}}</td>
        </tr>
    {{end}}
    </tbody>
</table>
{{end}}

{{define "properties"}}

{{htmlSafe "{{< langchoose csharp >}}"}}

{{range $lang, $props := .}}
{{ print "{{% lang" }} {{ print $lang }} {{ print "%}}" }}

{{template "properties_table" $props}}

{{print "{{% /lang %}}"}}

{{end}}

{{end}}