{{>requirements_header}}
python_dateutil >= 2.5.3
setuptools >= 21.0.0
urllib3 >= 1.25.3
pydantic >= 2
typing-extensions >= 4.7.1
{{#asyncio}}
aiohttp >= 3.0.0
aiohttp-retry >= 2.8.3
{{/asyncio}}
{{#hasHttpSignatureMethods}}
pycryptodome >= 3.9.0
{{/hasHttpSignatureMethods}}
pyyaml >= 6.0.1