.idea/
.mypy_cache/
*.pyc
/env/
*.egg-info/
.venv/
venv/
.coverage
build/
!cmd/pulumi-language-python-exec
!dist/pulumi-analyzer-policy-python
!dist/pulumi-analyzer-policy-python.cmd
!dist/pulumi-resource-pulumi-python
!dist/pulumi-resource-pulumi-python.cmd
