# Packages needed by the library.
# Keep this list in sync with setup.py.
# Updating to protobuf 3.20.0 causes issues in linting such as:
# lib/pulumi/runtime/mocks.py:246:15: E1101: Module 'google.protobuf.empty_pb2' has no 'Empty' member (no-member)
protobuf>=3.6.0,<3.20.0
grpcio>=1.33.2,<1.44.0
dill>=0.3.0
six>=1.12.0
semver>=2.8.1
pyyaml>=5.3.1

# Dev packages only needed during development.
pylint==2.10.2
mypy>=0.78
pytest
pytest-timeout
types-six
types-pyyaml
types-protobuf
pytest-asyncio
coverage>=6.0.2
wheel
black>=1.0.0
