protobuf>=3.20.3,<7
grpcio>=1.68.1,<2
dill==0.4
semver==3.0.2
pyyaml==6.0.2
debugpy==1.8.7
pip==24.3.1
typing-extensions==4.12.2
pytest==8.4.0
pytest-timeout==2.3.1
pytest-asyncio==0.23.8
iniconfig==2.0.0
pluggy==1.5.0
packaging==24.2
exceptiongroup==1.2.2
tomli==2.0.1
pygments==2.18.0
opentelemetry-api==1.31.1
opentelemetry-sdk==1.31.1
opentelemetry-exporter-otlp-proto-grpc==1.31.1
opentelemetry-instrumentation-grpc==0.52b1
opentelemetry-semantic-conventions==0.52b1
opentelemetry-proto==1.31.1
opentelemetry-exporter-otlp-proto-common==1.31.1
opentelemetry-instrumentation==0.52b1
googleapis-common-protos==1.65.0
deprecated==1.2.14
importlib-metadata==8.5.0
wrapt==1.16.0
zipp==3.19.2
