# [[source]]
# name = "testcomponent-python"
# url = "https://pulumi.com"
# verify_ssl = true

[dev-packages]

[packages]
pulumi = {path = "../../../../sdk/python/env/src/"}

[requires]
python_version = "3.8"
