on:
  push:
    branches:
      - master
      - feature-*
      - features/*
    paths-ignore:
      - 'CHANGELOG.md'
      - 'README.md'

env:
  PULUMI_TEST_OWNER: "moolumi"
  PULUMI_LOCAL_NUGET: "D:\\Pulumi\\nuget"
  PULUMI_API: "https://api.pulumi-staging.io"
  PULUMI_ACCESS_TOKEN: ${{ secrets.PULUMI_ACCESS_TOKEN }}
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID_LEGACY }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY_LEGACY }}
  GO111MODULE: "on"

jobs:
  build:
    name: Build
    strategy:
      matrix:
        platform: [windows-latest]
        go-version: [1.15.x]
        node-version: [10.x]
        python-version: [3.8.x]
        dotnet: [3.1.x]
    runs-on: ${{ matrix.platform }}
    env:
      GOPATH: ${{ github.workspace }}
    steps:
    - name: Install DotNet ${{ matrix.dotnet }}
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ matrix.dotnet }}
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Set up Go ${{ matrix.go-version }}
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go-version }}
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Python Deps
      run: |
        pip3 install pyenv-win
        pip3 install pipenv
    - name: Set Build Env Vars
      shell: bash
      run: |
        echo "::add-path::D:\\Pulumi\\bin"
    - name: Install AWS CLI Tools
      uses: chrislennon/action-aws-cli@v1.1
    - name: Check out scripts repo into the Go module directory
      uses: actions/checkout@v2
      with:
        repository: pulumi/scripts
        path: ./src/github.com/pulumi/scripts
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
      with:
        path: ./src/github.com/${{ github.repository }}
    - name: Fetch Tags
      run: |
        cd ./src/github.com/${{ github.repository }} && git fetch --quiet --prune --unshallow --tags
    - name: Get dependencies
      run: |
        cd src\github.com\${{ github.repository }}
        pushd .
        cd sdk
        go mod tidy
        go mod download
        popd
        pushd .
        cd pkg
        go mod tidy
        go mod download
        popd
        pushd .
        cd tests
        go mod tidy
        go mod download
        popd
    - name: Build Pulumi
      run: |
        cd src\github.com\${{ github.repository }}
        dotnet msbuild /t:Build /v:Detailed build.proj /p:PulumiRoot="D:\\Pulumi"
    - name: Run Pulumi Tests
      run: |
        cd src\github.com\${{ github.repository }}
        dotnet msbuild /t:Tests /v:Detailed build.proj /p:PulumiRoot="D:\\Pulumi"
    - name: Publish Binary
      run: |
        cd src\github.com\${{ github.repository }}
        dotnet msbuild /t:Publish /v:Detailed build.proj /p:PulumiRoot="D:\\Pulumi"
