**/bin
/build/
/coverage/
/prebuilt/
/node_modules/
/custom_node/
/runtime/native/node_dev/
.nyc_output/
!yarn.lock
!vendor
!dist/pulumi-analyzer-policy
!dist/pulumi-analyzer-policy.cmd
!dist/pulumi-resource-pulumi-nodejs
!dist/pulumi-resource-pulumi-nodejs.cmd
